<div class="w3-container w3-padding-128 w3-light-grey w3-card-12 w3-margin">
    <h3 class="w3-center">TERMINOLOGY</h3>
    <p class="w3-center w3-large">Common Martial Arts Terms in both Japanese and Korean</p>
    {{!terminology-category}}
    <div class="w3-responsive">
        <table class="w3-table-all w3-margin-top">
            <tr class="w3-black">
                <th>English</th>
                <th>Japanese</th>
                <th>Kanji</th>
                <th>Korean</th>
                <th>Hangul</th>
            </tr>
            {{#each model as |model|}}
                {{#if model.category}}
                    <tr>
                        <td>{{model.term}}</td>
                        <td>{{model.japanese}}</td>
                        <td></td>
                        <td>{{model.korean}}</td>
                        <td></td>
                    </tr>
                {{else}}
                    <tr class="w3-indigo">
                        <td><i>{{model.term}}</i></td>
                        <td><i>{{model.japanese}}</i></td>
                        <td><i></i></td>
                        <td><i>{{model.korean}}</i></td>
                        <td><i></i></td>
                    </tr>
                {{/if}}
            {{/each}}
        </table>
    </div>
    <p class="w3-center">{{#link-to 'sources'}}Sources{{/link-to}}</p>
</div>
